:root {
	--color-first: #007BDF;
    --color-second: #00CBFF;
    --color-third: #FF3C32;
    --color-accent: #FBA905;
    --color-dark: #282D31;
    --color-border: #DFE0E0;
    --color-text: #53575A;
    --color-bg: #FCFCFC;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal:  1000;

}

body {
	background: white;
}
.main-header {
	height: 3rem;
	border-bottom: 1px solid var(--color-border);
	background: black;
    color: white;
}


.logo {
	height: 2rem;
}


.main-menu-link {
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.cardname{
    text-align: center;
    color: black;
}

.card{

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 20%;
}

.content{

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: black;
}


.box{
    width: 300px;
    border: 10px;
    padding: 5px;
    margin: 25px;
    box-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
}